.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}
.canvasWrapper {
  height: 100%;
  position: fixed;
  top: 0;
  width: 100%;
}